.c-MainBlock {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.c-MainBlock--inside {
    margin-bottom: 0;
    padding-bottom: var(--main-band-gutter);
    padding-top: var(--main-band-gutter);
}

.c-MainBlock--grey {
    background-color: var(--arsenic-004);
}

.c-MainBlock + .c-MainBlock {
    margin-top: var(--main-band-gutter);
}

.c-MainBlock + .c-MainBlock--sm {
    margin-top: var(--main-band-gutter-sm);
}

.c-MainBlock + .c-MainBlock--lg {
    margin-top: var(--main-band-gutter-lg);
}

.c-MainBlock + .c-MainBlock--xl {
    margin-top: var(--main-band-gutter-xl);
}

.c-MainBlock--inside + .c-MainBlock--inside {
    margin-top: 0;
}



.c-MainBlock-block {
    display: flex;
    flex: 1 1 100%;
}

.c-MainBlock-block + .c-MainBlock-block {
    margin-top: var(--main-block-block-indent);
}
