{%- assign parent_index = 1 -%}



{%- for _1st in site.data.header -%}

    {%- assign _1st_forloop_index = forloop.index -%}



    {%- if _1st.slug == page.slug -%}

        {%- assign parent_index = _1st_forloop_index -%}

    {%- else -%}

        {%- for _2nd in _1st.children -%}

            {%- if _2nd.slug == page.slug -%}

                {%- assign parent_index = _1st_forloop_index -%}

            {%- endif -%}

        {%- endfor -%}

    {%- endif -%}

{%- endfor -%}



{%- if page.slug == 'home' -%}

    {%- assign parent_index = false -%}

{%- endif -%}






<div class="c-HeaderNav" id="c-HeaderNav">

    <ul class="c-HeaderNav-list c-HeaderNav-list--root">

        {%- for i in site.data.header -%}

            {%- assign i_page = site.pages | where: 'slug', i.slug | first -%}

            <li class="c-HeaderNav-li c-HeaderNav-li--root

                {%- if i.children.first.slug
                    and i.children.first.slug != empty
                -%}

                    {{- ' c-HeaderNav-li--parent' -}}

                {%- endif -%}

            ">

                <input class="c-HeaderNav-input" type="checkbox" id="c-HeaderNav-input-{{- forloop.index -}}"

                    {%- if forloop.index == parent_index -%}

                        {{- ' checked' -}}

                    {%- endif -%}

                >

                <a class="c-HeaderNav-link c-HeaderNav-link--root

                    {%- if i.children.first.slug
                        and i.children.first.slug != empty
                    -%}

                        {{- ' c-HeaderNav-link--parent' -}}

                    {%- endif -%}



                    {%- if i.slug == page.slug -%}

                        {{- ' c-HeaderNav-link--accent' -}}

                    {%- endif -%}



                    {{- ' o-DropdownTrigger' -}}

                "

                    {%- unless i.link == false -%}

                        {{- ' href' -}}="{{- i.url | default: i_page.url | default: '#' -}}"

                    {%- endunless -%}

                >

                    <span class="text">

                        {{- i.text | default: i_page.title_in_header | default: i_page.short_title | default: i_page.user_title -}}

                    </span>

                </a>



                <label class="c-HeaderNav-label

                    {%- if i.link == false -%}

                        {{- ' c-HeaderNav-label--full' -}}

                    {%- endif -%}

                " for="c-HeaderNav-input-{{- forloop.index -}}">

                    <span class="icon">

                        {%- include svg/chevron-down.svg -%}

                    </span>

                </label>




                {%- if i.children.first.slug
                    and i.children.first.slug != empty
                -%}

                    <ul class="c-HeaderNav-list c-HeaderNav-list--child o-Dropdown o-Dropdown--minLg">

                        {%- for j in i.children -%}

                            {%- assign j_page = site.pages | where: 'slug', j.slug | first -%}

                            <li class="c-HeaderNav-li c-HeaderNav-li--child">

                                <a class="c-HeaderNav-link c-HeaderNav-link--child

                                    {%- if j.slug == page.slug -%}

                                        {{- ' c-HeaderNav-link--accent' -}}

                                    {%- endif -%}

                                "

                                    {%- unless j.link == false -%}

                                        {{- ' href' -}}="{{- j.url | default: j_page.url | default: '#' -}}"

                                    {%- endunless -%}

                                >

                                    {{- j.text | default: j_page.title_in_header | default: j_page.short_title | default: j_page.user_title -}}

                                </a>

                            </li>

                        {%- endfor -%}

                    </ul>

                {%- endif -%}

            </li>

        {%- endfor -%}

    </ul>

</div>
