.c-HeaderHamburger {
    --slice-color: var(--header-color);
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.c-HeaderHamburger-btn {
    --indent: 10px;
    align-items: center;
    border: var(--indent) solid transparent; /* for clickability purpose; use transparent border because it makes it easier to control the height of the hamburger */
    box-sizing: content-box; /* for proper work of the border indent */
    cursor: pointer;
    display: flex;
    height: 17.16px;
    justify-content: center;
    margin: 0 calc(var(--indent) * -1); /* compensate the indent */
    padding: 0;
    position: relative;
    width: 22.88px;
}

.c-HeaderHamburger-btn:focus {
    outline: none;
}

.c-HeaderHamburger-btn > .slice {
    --height: 2px;
    background-color: var(--slice-color);
    height: var(--height);
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.c-HeaderHamburger-btn > .slice:nth-child(1) {
    top: 0;
}

.c-HeaderHamburger-btn > .slice:nth-child(2) {
    margin-top: calc(var(--height) * -0.5);
    top: 50%;
}

.c-HeaderHamburger-btn > .slice:nth-child(3) {
    bottom: 0;
}


.c-HeaderHamburger-btn.is-active > .slice {
    margin-top: calc(var(--height) * -0.5);
    top: 50%;
}

.c-HeaderHamburger-btn.is-active > .slice:nth-child(1) {
    transform: rotate(-45deg);
}

.c-HeaderHamburger-btn.is-active > .slice:nth-child(2) {
    height: 0;
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.c-HeaderHamburger-btn.is-active > .slice:nth-child(3) {
    transform: rotate(45deg);
}
