.c-HeaderLogo {}




.c-HeaderLogo .icon {
    height: 27px;
}

@media only screen and (min-width: 48em) {
    .c-HeaderLogo .icon {
        height: 30px;
    }
}

.c-HeaderLogo svg > #text {
    fill: var(--header-color);
}
