@media only screen and (max-width: 63.9375em) {
    .c-HeaderNav {
        align-items: flex-start;
        background-color: var(--header-background-color);
        color: var(--header-color);
        display: flex;
        justify-content: center;
        left: 0;
        max-width: 100vw;
        min-width: 100%;
        outline: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: calc(var(--grid-gutter) / 2);
        padding-right: calc(var(--grid-gutter) / 2);
        position: absolute;
        right: 0;
        top: var(--header-height);
        transform: translateX(100%);
        transition: transform 233ms cubic-bezier(0,0,.21,1);
        width: 100vw;
        will-change: transform;
        z-index: 100;
    }

    .c-HeaderNav.is-nav-open {
        transform: translateX(0);
    }
}



.c-HeaderNav-list {
    --link-gutter-X: 51px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    margin-top: 0;
    width: 100%;
}

@media only screen and (min-width: 64em) {
    .c-HeaderNav-list--root {
        flex-wrap: nowrap;
        margin-left: calc(var(--link-gutter-X) / -2);
        margin-right: calc(var(--link-gutter-X) / -2);
    }
}

.c-HeaderNav-list--child {
    /* max-height: 0; */
    display: none;
    margin-top: -1px; /* fix border collapse */
    padding-left: 20px;
    transition: all 0.35s;
}

@media only screen and (max-width: 63.9375em) {
    .c-HeaderNav-input:checked ~ .c-HeaderNav-list--child {
        /* max-height: 100vh; */
        display: flex;
    }
}

@media only screen and (min-width: 64em) {
    .c-HeaderNav-list--child {
        background-color: var(--base-background-color);
        box-shadow: 0 5px 30px 0 var(--nero-016);
        display: flex;
        flex-wrap: wrap;
        height: auto;
        left: calc(var(--link-gutter-X) / 2);
        min-width: 195px;
        padding-left: 0;
        position: absolute;
        top: 100%;
        width: auto; /* https://caniuse.com/#search=min-content */
        width: min-content;
        z-index: 100;
    }
}



.c-HeaderNav-li {
    flex: 1 1 100%;
    position: relative;
}

.c-HeaderNav-li + .c-HeaderNav-li {
    margin-top: -1px; /* fix border collapse */
}

@media only screen and (min-width: 64em) {
    .c-HeaderNav-li--root {
        flex-basis: auto;
    }
}



.c-HeaderNav-input {
	border:0;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	padding:0;
	width: 1px;
    position: absolute;
}



.c-HeaderNav-label {
    cursor: pointer;
    display: flex;
}



.c-HeaderNav-link {
    --gutter-Y: 7px;
    --gutter-X: 0;
    align-items: center;
    border-bottom: 1px solid var(--header-border-color);
    border-top: 1px solid var(--header-border-color);
    color: var(--header-color);
    cursor: pointer;
    display: flex;
    flex: 1;
    padding: var(--gutter-Y) var(--gutter-X);
    position: relative;
}

.c-HeaderNav-link--root {
    --gutter-Y: 12px;
}

.c-HeaderNav-label > .c-HeaderNav-link {
    pointer-events: none;
}

@media only screen and (min-width: 64em) {
    .c-HeaderNav-link {
        --gutter-Y: 16px;
        --gutter-X: calc(var(--link-gutter-X) / 2);
        border: 0;
        font-size: 17px;
        white-space: nowrap;
    }

    .c-HeaderNav-link:focus,
    .c-HeaderNav-link:hover {
        text-decoration: none;
    }

    .c-HeaderNav-link--child {
        --gutter-Y: 5.5px;
        --gutter-X: 20px;
    }

    .c-HeaderNav-link--child:focus,
    .c-HeaderNav-link--child:hover {
        background-color: var(--black-white-03);
    }

    .c-HeaderNav-label > .c-HeaderNav-link {
        pointer-events: auto;
    }
}

.c-HeaderNav-link .icon {
    fill: var(--header-color);
    height: 6px;
    position: absolute;
    right: 4.5px;
}

.c-HeaderNav-input:checked ~ .c-HeaderNav-label .icon {
    transform: rotate(180deg);
}

@media only screen and (min-width: 64em) {
    .c-HeaderNav-link .icon {
        display: none;
    }
}
