{%- comment -%}
* @param {boolean} amp_enable - page.amp_enable
{%- endcomment -%}

<div class="c-Header-hamburger">

    <div class="c-HeaderHamburger">

        <button class="c-HeaderHamburger-btn" id="c-HeaderHamburger-btn" type="button"

            {%- if include.amp_enable == true -%}
                {{- ' ' -}} on="tap:c-HeaderHamburger-btn.toggleClass(class='is-active'),c-HeaderNav.toggleClass(class='is-active'),c-HeaderNav.toggleClass(class='is-nav-open'),c-Header.toggleClass(class='is-nav-open')"
            {%- endif -%}

        >

            <span class="slice"></span>

            <span class="slice"></span>

            <span class="slice"></span>

        </button>

    </div>

</div>
