<header class="c-Header" id="c-Header">
    <div class="c-Header-container wrapper wrapper--fluid">
        <div class="c-Header-content">

            <div class="c-Header-block c-Header-block--logo">

                {%- include 5-components/header/header-logo.html -%}

            </div>



            <div class="c-Header-block c-Header-block--nav">

                {%- include 5-components/header/header-nav.html -%}

            </div>



            <div class="c-Header-block c-Header-block--hamburger">

                {%- include 5-components/header/header-hamburger.html -%}

            </div>

        </div>
    </div>
</header>
