.c-Testimonial {
    display: flex;
    flex-wrap: wrap;
}



.c-Testimonial-block {
    flex: 1 100%;
}

.c-Testimonial-block + .c-Testimonial-block {
    margin-top: 35px;
}

@media only screen and (min-width: 48em) {
    .c-Testimonial-block + .c-Testimonial-block {
        margin-top: 35px;
    }
}



.c-Testimonial-image {
    --height: 36px;
    display: flex;
}



.c-Testimonial-image .icon {
    height: var(--height);
}

.c-Testimonial-image .icon--logos {
    fill: var(--logos-fill);
}



.c-Testimonial-quote {
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
}



.c-Testimonial-author {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}
