{%- comment -%}
* @param {array} logos
* @param {string} logos[i].svg
* @param {boolean} logos[i].sm
* @param {string} logos[i].url (optional) (default [nil])
{%- endcomment -%}

<div class="c-Logos">

    <span class="c-Logos-list h-StopMarginSharing">

        {%- for i in include.logos -%}

            {%- if forloop.first -%}

                {%- if i.sm_spread == true -%}

                    {%- assign sm_spread = true -%}

                {%- endif -%}



                {%- if i.class_spread == true
                    and i.class
                    and i.class != empty
                -%}

                    {%- assign class_spread = true -%}

                    {%- assign class_value = i.class -%}

                {%- endif -%}



                {%- if i.center_spread == true -%}

                    {%- assign center_spread = true -%}

                {%- endif -%}

            {%- endif -%}



            <div class="c-Logos-item

                {%- if i.center == true
                    or center_spread == true
                -%}

                    {{- ' c-Logos-item--center' -}}

                {%- endif -%}

                {%- if class_spread == true
                    or i.class
                    and i.class != empty
                -%}

                    {{- i.class | default: class_value | prepend: ' ' -}}

                {%- endif -%}

            ">

                {%- if i.url
                    and i.url != empty
                    and i.url != false
                -%}

                    <a class="c-Logos-forward" href="{{- i.url | default: '#' -}}" target="_blank" rel="noreferrer">

                {%- endif -%}

                    <span class="c-Logos-image

                        {%- if i.sm == true
                            or sm_spread == true
                        -%}

                            {{- ' c-Logos-image--sm' -}}

                        {%- endif -%}

                    ">

                        <span class="icon">

                            {%- include svg/{{ i.svg }} -%}

                        </span>

                    </span>

                {%- if i.url
                    and i.url != empty
                    and i.url != false
                -%}

                    </a>

                {%- endif -%}

            </div>

        {%- endfor -%}

    </div>

</div>
