{%- comment -%}
* @param {number} include.image_height (optional) (default [nil])
* @param {number} include.image_width (optional) (default [nil])
* @param {string} include.image_alt (optional) (default [nil])
* @param {string} include.image_src (optional) (default [nil])

* @param {boolean} include.bar (optional) (default [nil])
* @param {boolean} include.target_blank (optional) (default [true])
* @param {boolean} include.lg (optional) (default [false])
* @param {boolean} include.row (optional) (default [false])
* @param {boolean} include.wide (optional) (default [false])
* @param {string} include.arrow (optional) (options ['local', 'external']) (default [nil])
* @param {string} include.title (optional) (default [nil])
* @param {string} include.slug (optional) (default [nil])
* @param {string} include.text (optional) (default [nil])
* @param {string} include.time (optional) (default [nil])
* @param {string} include.url (optional) (default [nil])
{%- endcomment -%}






{%- assign _page = site.pages | where: 'slug', include.slug | first -%}

{%- if _page == nil -%}

    {%- assign _page = site.posts | where: 'slug', include.slug | first -%}

{%- endif -%}






{%- assign image_width = include.image_width | default: _page.teaser.width -%}
{%- assign image_height = include.image_height | default: _page.teaser.height -%}
{%- assign image_src = include.image_src | default: _page.teaser.src -%}
{%- assign image_alt = include.image_alt | default: _page.teaser.alt -%}






<div class="c-Teaser

    {%- if include.row == true -%}

        {{- ' c-Teaser--row' -}}

    {%- endif -%}



    {%- if include.lg == true -%}

        {{- ' c-Teaser--lg' -}}

    {%- endif -%}



    {%- if include.wide == true -%}

        {{- ' c-Teaser--wide' -}}

    {%- endif -%}

">

    <a class="c-Teaser-forward" href="{{- include.url | default: _page.url -}}"

        {%- if include.url
            and include.url != empty
            and include.target_blank != false
            or include.target_blank == true
        -%}

            {{- ' target' -}}="_blank" rel="noreferrer"

        {%- endif -%}

    >

        <span class="c-Teaser-content">

            <span class="c-Teaser-block c-Teaser-block--image">

                <span class="c-Teaser-image">

                    {%- if include.bar == true
                        or include.wide == true
                        and include.bar != false
                    -%}

                        <span class="c-TeaserBar">

                            <span class="c-TeaserBar-circle"></span>

                            <span class="c-TeaserBar-circle"></span>

                            <span class="c-TeaserBar-circle"></span>

                        </span>

                    {%- endif -%}



                    {%- include img.html
                        class='c-Teaser-img'
                        src=image_src
                        width=image_width
                        height=image_height
                        alt=image_alt
                        layout='intrinsic'
                    -%}

                </span>

            </span>



            <span class="c-Teaser-block c-Teaser-block--paper">

                <span class="c-TeaserPaper">

                    <span class="c-TeaserPaper-block">

                        <span class="c-TeaserPaper-title h-ContentsExclude">

                            {%- assign title = include.title | default: _page.short_title -%}

                            {%- unless title contains '→'
                                or title contains '↗'
                            -%}

                                {%- if include.arrow == 'external' -%}

                                    {%- assign title = title | append: '&nbsp;↗' -%}

                                {%- elsif include.arrow == 'local' -%}

                                    {%- assign title = title | append: '&nbsp;→' -%}

                                {%- elsif include.url
                                    and include.url != empty
                                -%}

                                    {%- assign title = title | append: '&nbsp;↗' -%}

                                {%- else -%}

                                    {%- assign title = title | append: '&nbsp;→' -%}

                                {%- endif -%}

                            {%- endunless -%}



                            {{- title -}}

                        </span>

                    </span>



                    {%- if include.text != false
                        or _page
                    -%}

                        <span class="c-TeaserPaper-block">

                            <span class="c-TeaserPaper-text">

                                {{- include.text
                                    | default: _page.user_excerpt
                                    | default: _page.content
                                    | truncate: 155
                                    | strip_html
                                    | markdownify
                                    | replace: 'p>', 'span>'
                                -}}

                            </span>

                        </span>

                    {%- endif -%}



                    {%- assign time = include.time | default: _page.date -%}

                    {%- if time
                        and include.time != false
                    -%}

                        <span class="c-TeaserPaper-block">

                            {%- include time.html time=time -%}

                            <time class="c-TeaserPaper-time" datetime="{{- datetime -}}">

                                {{- time -}}

                            </time>

                        </span>

                    {%- endif -%}

                </span>

            </span>

        </span>

    </a>

</div>
