<div class="pure-g block-100 contact-wrapper">
    <div class="qm-sm-12-12 qm-lg-6-12 contact-teaser">
        <div class="kicker">Anfrage absenden</div>
        <div>
            Sie möchten Veränderung schaffen oder sich gleich komplett neu positionieren? Erzählen Sie uns doch etwas mehr von Ihrem Vorhaben. Wir helfen Ihnen gerne dabei und freuen uns mehr über Ihr Projekt zu erfahren.
        </div>
        <div class="pure-g inContentLinksWrapper">
            <div class="qm-sm-12-12">
                <ul class="inContentLinks">
                    <li><a href="#">Zum Kontaktformular →</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="qm-sm-12-12 qm-lg-6-12 call-teaser">
        <div class="kicker">Rückruf veranlassen</div>


        <form action-xhr="https://getsimpleform.com/messages?form_api_token=6023149e910cf87033c325c81c1c4b82" method="post" target="_top">
            <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
            <input type="text" name="name" placeholder="Name *">
            <input type="text" name="phone" placeholder="Telefonnummer *">
            <input type="text" name="url" placeholder="Webseite *">
            <input type='hidden' name='redirect_to' value='{{ page.url }}' />
            <input type="submit" class="button" value="Senden">
<!--                        <button type="submit">Senden</button>-->
        </form>

<!--        <form action-xhr="https://formspree.io/bo@qmedia.de" method="POST" target="_top">-->
<!--            <input type="text" name="name" placeholder="Name *">-->
<!--            <input type="text" name="phone" placeholder="Telefonnummer *">-->
<!--            <input type="text" name="url" placeholder="Webseite *">-->
<!--            <input type="submit" class="button" value="Senden">-->
<!--            <button type="submit">Senden</button>-->
<!--        </form>-->

    </div>
</div>
