<footer>
    <div class="pure-g">
        <div class="qm-sm-6-12 qm-xl-3-12">
            <div class="title">Suchmaschinenoptimierung</div>
            <ul>
                <li><a href="#">SEO Optimierung</a></li>
                <li><a href="#">Local SEO</a></li>
                <li><a href="#">Technisches SEO</a></li>
                <li><a href="#">Internationales SEO</a></li>
                <li><a href="#">Relaunch Betreuung</a></li>
                <li><a href="#">SEO Audit</a></li>
                <li><a href="#">Linkaufbau</a></li>
                <li><a href="#">Linkaudit</a></li>
            </ul>
        </div>

        <div class="qm-sm-6-12 qm-xl-3-12">
            <div class="title">Suchmaschinenmarketing</div>
            <ul>
                <li><a href="#">AdWords Optimierung</a></li>
                <li><a href="#">Google Shopping</a></li>
                <li><a href="#">Google AdWords Remarketing</a></li>
                <li><a href="#">CSS Google Shopping</a></li>
            </ul>
            <div class="title">Leadgenerierung</div>
            <ul>
                <li><a href="#">Usability Optimierung</a></li>
                <li><a href="#">Conversion Optimierung</a></li>
                <li><a href="#">Landingpage Optimierung</a></li>
                <li><a href="#">DSGVO</a></li>
            </ul>

        </div>

        <div class="qm-sm-6-12 qm-xl-6-12">
            <div class="title">Unternehmen</div>

            <div class="pure-g">
                <div class="qm-sm-12-12 qm-xl-6-12">
                    <ul>
                        <li><a href="#">SEO Munich</a></li>
                        <li><a href="#">SEO Hamburg</a></li>
                        <li><a href="#">SEO Berlin</a></li>
                    </ul>
                </div>
                <div class="qm-sm-12-12 qm-xl-6-12">
                    <ul>
                        <li><a href="#">Projekte</a></li>
                        <li><a href="#">Journal</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
                <div class="qm-xl-12-12">
                    <div class="share-links hide-for-print">
                        <a class="share-link share-link-facebook" target="_blank" rel="nofollow noopener" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}"><svg><use xlink:href="#facebook" /></svg></a>
                        <a class="share-link share-link-twitter" target="_blank" rel="nofollow noopener" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}"><svg><use xlink:href="#twitter" /></svg></a>
                        <a class="share-link share-link-xing" target="_blank" rel="nofollow noopener" href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url={{ site.url }}"><svg><use xlink:href="#xing" /></svg></a>
                        <a class="share-link share-link-linkedin" target="_blank" rel="nofollow noopener" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.desc }}&source=webjeda"><svg><use xlink:href="#linkedin" /></svg></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="qm-sm-12-12 copyright">
            <div class="pure-g">
                <div class="qm-sm-6-12 qm-lg-8-12">
                    &copy; {{ 'now' | date: "%Y" }} qmedia GmbH – Agentur für Online Marketing
                </div>
                <div class="qm-sm-6-12 qm-lg-4-12">
                    <ul>
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Datenschutz</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>
{% include svg.html %}