<footer>
    <div class="pure-g">
        <div class="qm-sm-6-12 qm-xl-3-12">
            <div class="title">SEO</div>
            <ul>
                <li><a href="/suchmaschinenoptimierung/">SEO Optimierung</a></li>
                <li><a href="/suchmaschinenoptimierung/local-seo/">Local SEO</a></li>
                <li><a href="/suchmaschinenoptimierung/technisches-seo/">Technisches SEO</a></li>
                <li><a href="/suchmaschinenoptimierung/internationales-seo/">Internationales SEO</a></li>
                <li><a href="/suchmaschinenoptimierung/relaunch-betreuung/">Relaunch Betreuung</a></li>
                <li><a href="/suchmaschinenoptimierung/seo-audit/">SEO Audit</a></li>
                <li><a href="/suchmaschinenoptimierung/linkaufbau/">Linkaufbau</a></li>
                <li><a href="/suchmaschinenoptimierung/linkaudit/">Linkaudit</a></li>
            </ul>
            <div class="title">Branchen</div>
            <ul>
                <li><a href="#">Anwälte</a></li>
                <li><a href="#">Ärzte und Arztpraxen</a></li>
                <li><a href="#">Steuerberater</a></li>
                <li><a href="#">Versicherungsmakler</a></li>
            </ul>
        </div>

        <div class="qm-sm-6-12 qm-xl-3-12">
            <div class="title">SEM</div>
            <ul>
                <li><a href="/suchmaschinenmarketing/">Suchmaschinenmarketing</a></li>
                <li><a href="/suchmaschinenmarketing/adwords-optimierung/">AdWords Optimierung</a></li>
                <li><a href="/suchmaschinenmarketing/google-shopping/">Google Shopping</a></li>
                <li><a href="/suchmaschinenmarketing/google-adwords-remarketing/">Google AdWords Remarketing</a></li>
            </ul>
            <div class="title">Leadgenerierung</div>
            <ul>
                <li><a href="/leadgenerierung/">Leadgenerierung</a></li>
                <li><a href="/leadgenerierung/versicherungsleads/">Versicherungsleads</a></li>
                <li><a href="/leadgenerierung/usability-optimierung/">Usability Optimierung</a></li>
                <li><a href="/leadgenerierung/conversion-optimierung/">Conversion Optimierung</a></li>
                <li><a href="/leadgenerierung/landingpage-optimierung/">Landingpage Optimierung</a></li>
                <li><a href="/leadgenerierung/datenschutz-dsgvo/">DSGVO</a></li>
            </ul>

        </div>

        <div class="qm-sm-6-12 qm-xl-6-12">
            <div class="title">Unternehmen</div>

            <div class="pure-g">
                <div class="qm-sm-12-12 qm-xl-6-12">
                    <ul>
                        <li><a href="/suchmaschinenoptimierung/seo-muenchen/">SEO München</a></li>
                        <li><a href="/suchmaschinenoptimierung/seo-hamburg/">SEO Hamburg</a></li>
                        <li><a href="/suchmaschinenoptimierung/seo-berlin/">SEO Berlin</a></li>
                    </ul>
                </div>
                <div class="qm-sm-12-12 qm-xl-6-12">
                    <ul>
                        <li><a href="/projekte/">Projekte</a></li>
                        <li><a href="/blog/">Journal</a></li>
                        <li><a href="/kontakt/">Kontakt</a></li>
                    </ul>
                </div>
                <div class="qm-xl-12-12">
                    <div class="share-links hide-for-print">
                        <a class="share-link share-link-facebook" target="_blank" rel="nofollow noopener" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}"><svg><use xlink:href="#facebook" /></svg></a>
                        <a class="share-link share-link-twitter" target="_blank" rel="nofollow noopener" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}"><svg><use xlink:href="#twitter" /></svg></a>
                        <a class="share-link share-link-xing" target="_blank" rel="nofollow noopener" href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url={{ site.url }}"><svg><use xlink:href="#xing" /></svg></a>
                        <a class="share-link share-link-linkedin" target="_blank" rel="nofollow noopener" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.desc }}&source=webjeda"><svg><use xlink:href="#linkedin" /></svg></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="qm-sm-12-12 copyright">
            <div class="pure-g">
                <div class="qm-sm-6-12 qm-lg-8-12">
                    &copy; {{ 'now' | date: "%Y" }} qmedia GmbH – Agentur für Online Marketing
                </div>
                <div class="qm-sm-6-12 qm-lg-4-12">
                    <ul>
                        <li><a href="/impressum/">Impressum</a></li>
                        <li><a href="/datenschutz/">Datenschutz</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>
{% include svg.html %}