header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    /*margin-bottom: 135px;*/
    font-size: 17px;
}

/*a.logo, a.sidebar-logo {*/
/*    height: 40px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

@media only screen and (max-width: 47.9375em) {
    header {
        margin-bottom: 60px;
    }
    a.qmedia-logo {
        display: block;
        padding: 16px 0 0 16px;
    }
    a.qmedia-logo svg {
        width: 122px;
        height: 30px;
    }

}
@media only screen and (min-width: 48em) {
    header {
        margin-bottom: 135px;
    }
    a.qmedia-logo {
        display: block;
        padding: 20px 0 0 30px;
    }
    a.qmedia-logo svg {
        width: 122px;
        height: 30px;
    }

}
@media only screen and (max-width: 63.9375em) {
    a.sidebar-logo svg, a.logo svg {
        height: 24px;
        width: 155px;
    }
    a.logo {
        margin: 8px 0;
    }
    a.sidebar-logo svg {
        margin: 25px 0 10px 20px
    }
}
@media only screen and (min-width: 64em) {
    a.logo {
        margin: 14px 0;
    }
    a.logo svg {
        height: 24px;
        width: 155px;
    }
}

header ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

header li {
    padding: 16px 25px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
header ul.dropdown li {
    padding: 0;
}
header ul.dropdown li a {
    padding: 8px 20px;
    display: block;
    white-space: nowrap;
}

header li a:hover {
    text-decoration: none;
}
header li a {
    text-decoration: none;
}

header li:hover,
header li:focus-within {
    cursor: pointer;
}

header li:focus-within a {
    outline: none;
}

header ul li ul {
    background: white;
    /*box-shadow: 0 2px 12px 0 rgba(28,28,28,.1);*/
    box-shadow: 0 5px 30px 0 rgba(34, 34, 34, .16);
    visibility: hidden;
    opacity: 0;
    min-width: 300px;
    width: fit-content;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
header ul li ul li:hover {
    background-color: var(--qmedia-10);
}


header ul li:hover > ul,
header ul li:focus-within > ul,
header ul li ul:hover,
header ul li ul:focus {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    display: block
}

header ul li ul li {
    width: 100%;
}

/* Screen reader only */
/*.sr-only {*/
/*    position: absolute;*/
/*    width: 1px;*/
/*    height: 1px;*/
/*    padding: 0;*/
/*    margin: -1px;*/
/*    overflow: hidden;*/
/*    clip: rect(0,0,0,0);*/
/*    border: 0;*/
/*}*/

/* Button styling */
@media only screen and (min-width: 64em) {
    .hamburger {
        display: none;
    }

}
@media only screen and (max-width: 63.9375em) {
    button.menu-toggle {
        border: none;
        height: 30px;
        background: transparent;
    }
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 16px;
        margin-top: 16px;
        border: none;
        background-color: transparent;
        width: 22px;
        height: 16px;
    }
}

.menu-toggle {
    display: inline-block;
    color: #333;
    cursor: pointer;
    /*margin-top: -15%;*/
}


.menu-toggle:after {
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    background: var(--qmedia-100);
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 var(--qmedia-100), 0 14px 0 var(--qmedia-100);
}

.mobile-sidebar {
    width: 100%;
    max-width: 100vw;
    background-color: var(--qmedia-100);
    color: var(--white);
}

.sidebar-header{
    background-color: white;
    height: 58px;
    justify-content: space-between;
}
.sidebar-header .toggle-btns{
    position: relative;
    display: flex;
    left: calc(100% - 50px);
    top: -22px;
}
.mobile-sidebar ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
.mobile-sidebar ul li{
    padding: 20px 0;
    border-top: 1px solid #e3e3e9;
    text-align: center;
    font-weight: 500;
    font-size: 19px;
}
.mobile-sidebar ul li a{
    color: var(--white);
    text-decoration: none;
}

.closebtn, .openbtn{
    background: transparent;
    border: 0;
}
.toggle-btns svg.close {
    height: 18px;
    width: 18px;
}

