<header>
    <div><a class="qmedia-logo" href="/"><svg><use xlink:href="#qmedia-logo" /></svg></a></div>
    <div class="show-for-xlarge">
        <nav role="navigation">
            <ul>
                <li><span aria-haspopup="true">Suchmaschinenoptimierung</span>
                    <ul class="dropdown" aria-label="submenu">
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                    </ul>
                </li>
                <li><span aria-haspopup="true">Suchmaschinenmarketing</span>
                    <ul class="dropdown" aria-label="submenu">
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                    </ul>
                </li>
                <li><span aria-haspopup="true">Leadgenerierung</span>
                    <ul class="dropdown" aria-label="submenu">
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                    </ul>
                </li>
                <li><span aria-haspopup="true">Unternehmen</span>
                    <ul class="dropdown" aria-label="submenu">
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                        <li><a href="#">American</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="target-element-right">
        </div>
    </div>
    <div class="hide-for-xlarge hamburger">
        <button class="menu-toggle" on="tap:sidebar-right.toggle"></button>
    </div>
</header>
