<header>
    <div><a class="qmedia-logo" href="/"><svg><use xlink:href="#qmedia-logo" /></svg></a></div>
    <div class="show-for-xlarge">
        <nav role="navigation">
            <ul>
                <li><span aria-haspopup="true"><a href="/suchmaschinenoptimierung/">Suchmaschinenoptimierung</a></span>
                    <ul class="dropdown" aria-label="submenu">
                        <li><a href="/suchmaschinenoptimierung/">SEO Optimierung</a></li>
                        <li><a href="/suchmaschinenoptimierung/local-seo/">Local SEO</a></li>
                        <li><a href="/suchmaschinenoptimierung/technisches-seo/">Technisches SEO</a></li>
                        <li><a href="/suchmaschinenoptimierung/internationales-seo/">Internationales SEO</a></li>
                        <li><a href="/suchmaschinenoptimierung/relaunch-betreuung/">Relaunch Betreuung</a></li>
                        <li><a href="/suchmaschinenoptimierung/seo-audit/">SEO Audit</a></li>
                        <li><a href="/suchmaschinenoptimierung/linkaufbau/">Linkaufbau</a></li>
                        <li><a href="/suchmaschinenoptimierung/linkaudit/">Linkaudit</a></li>
                    </ul>
                </li>
                <li><span aria-haspopup="true"><a href="/suchmaschinenmarketing/">Suchmaschinenmarketing</a></span>
                    <ul class="dropdown" aria-label="submenu">
                        <li><a href="/suchmaschinenmarketing/">Suchmaschinenmarketing</a></li>
                        <li><a href="/suchmaschinenmarketing/adwords-optimierung/">AdWords Optimierung</a></li>
                        <li><a href="/suchmaschinenmarketing/google-shopping/">Google Shopping</a></li>
                        <li><a href="/suchmaschinenmarketing/google-adwords-remarketing/">Google AdWords Remarketing</a></li>
                    </ul>
                </li>
                <li><span aria-haspopup="true"><a href="/leadgenerierung/">Leadgenerierung</a></span>
                    <ul class="dropdown" aria-label="submenu">
                        <li><a href="/leadgenerierung/">Leadgenerierung</a></li>
                        <li><a href="/leadgenerierung/versicherungsleads/">Versicherungsleads</a></li>
                        <li><a href="/leadgenerierung/usability-optimierung/">Usability Optimierung</a></li>
                        <li><a href="/leadgenerierung/conversion-optimierung/">Conversion Optimierung</a></li>
                        <li><a href="/leadgenerierung/landingpage-optimierung/">Landingpage Optimierung</a></li>
                        <li><a href="/leadgenerierung/datenschutz-dsgvo/">DSGVO</a></li>
                    </ul>
                </li>
                <li><span aria-haspopup="true">Unternehmen</span>
                    <ul class="dropdown" aria-label="submenu">
                        <li><a href="/projekte/">Projekte</a></li>
                        <li><a href="/blog/">Journal</a></li>
                        <li><a href="/kontakt/">Kontakt</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="target-element-right">
        </div>
    </div>
    <div class="hide-for-xlarge hamburger">
        <button class="menu-toggle" on="tap:sidebar-right.toggle"></button>
    </div>
</header>
