<div class="pure-g block-100">
    <div class="qm-sm-12-12">
        <div class="kicker">Journal</div>
    </div>
    <div class="post-teaser-wrapper">

        {% for post in site.posts | limit: 3 %}
            <div class="pure-g post-single-teaser">
                <div class="qm-sm-12-12 qm-lg-4-12 post-teaser-image">
                    <a href="{{ post.url }}"><amp-img src="{{ site.image-folder }}{{ post.images }}" alt="{{ post.title }}" width="290" height="144" layout="responsive"></amp-img></a>
                </div>
                <div class="qm-sm-12-12 qm-lg-8-12 post-teaser-content">
                    <div class="subheading">
                        <a href="{{ post.url }}">{{ post.title }} →</a>
                    </div>
                    <div class="post-teaser-date">
                        {{ post.date | date: "%-d %B %Y" | replace: "January", "Januar" | replace: "February", "Februar" | replace: "March","M&auml;rz" | replace: "May","Mai" | replace: "June","Juni" | replace: "July","Juli" | replace: "October","Oktober" | replace: "December","Dezember" }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

