<div class="pure-g block-100">
    <div class="qm-sm-12-12">
        <div class="kicker">Projekte</div>
    </div>
    <div class="project-teaser-wrapper">

        {% for post in site.posts | limit: 3 %}
            <div class="pure-g project-single-teaser">
                <div class="qm-sm-12-12 qm-lg-4-12 post-teaser-image">
                    <a href="https://www.ratgeber-kv.de"><amp-img src="{{ site.image-folder }}{{ post.images }}" alt="{{ post.title }}" width="375" height="250" layout="responsive"></amp-img></a>
                </div>
                <div class="qm-sm-12-12 qm-lg-8-12 project-teaser-content">
                    <div class="project-teaser-heading">
                        <a href="https://www.ratgeber-kv.de">Ratgeber-KV.de</a>
                    </div>
                    <div>
                        <a href="https://www.ratgeber-kv.de">Machen Sie mit Ratgeber-KV den Vergleich – Sie werden sehen, wie viel Sie beim Top-Anbieter Ihres gewünschten Krankenversicherungs-Tarifs bezahlen würden!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

