<div class="pure-g">
    <div class="qm-sm-12-12 promotion-box">
        <div class="promotion-header"><svg><use xlink:href="#info" /></svg>Discounts to those who do good</div>

        <div class="promotion-content">
            Nur organisch gewachsene Backlinks sind im Sinne einer Suchmaschinenoptimierung gewünscht. Minderwertige Backlinks werden von den Suchmaschinen sogar abgestraft. Darum ist es für die Suchmaschinen Optimierung wichtig, das Backlink-Netzwerk in Sachen Qualität zu analysieren und schädliche Links bei Bedarf zu entfernen.
        </div>

    </div>

</div>
