.share-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
a.share-link, button.share-link{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    /*border: none;*/
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid var(--qmedia-10);
    /*background-color: rgba(0,0,0,.03);*/
}
a.share-link:hover, button.share-link:hover {
    background-color: rgba(0,0,0,.06);
}
.share-links .share-link:not(:last-child) {
    margin-right: .5rem;
}

button.share-link {
    padding: 0;
}
button.share-link:hover {
    cursor: pointer;
}

.share-link svg {
    height: .75rem;
    width: 1rem;
    fill: #000;
}

nav a.share-link, nav a.share-link:hover  {
    background: none;

}
.topbar-share svg {
    height: 1.25rem;
    width: 1.5rem;
}
.topbar-share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.share-link-facebook svg {
    /*width: .625rem;*/
}
.share-link-mail, .share-link-print {
    /*background-color: var(--700);*/
}

nav a.share-link-mail,
nav button.share-link-print {
    display: none;
}


footer a.share-link-mail,
footer button.share-link-print {
    display: none;
}

footer .share-links {
    margin: 50px 0 0 0;
}