:root {
    --ff-base-mono: 'IBM Plex Mono';
    --ff-base-sans: 'IBM Plex Sans';
    --ff-base-serif: 'IBM Plex Serif';
    --ff-mono: var(--ff-base-mono), sans-serif;
    --ff-sans: var(--ff-base-sans), sans-serif;
    --ff-serif: var(--ff-base-serif), serif;





    --grid-gutter: 32px;
    --grid-max-width: 830px;






    --type-indent: 16px;






    --header-height: 60px;
    --header-background-color: var(--white);
    --header-color: var(--nero);
    --header-border-color: var(--thunder);



    --logos-fill: var(--ironside-grey);



    --footer-indent-top: 60px;
    --footer-indent-bottom: 20px;

    --footer-block-gutter-X: 20px;
    --footer-block-gutter-Y: 25px;






    --white: #fff;
    --black: #000;

    --black-white: #e4e3d8;
    --black-white-03: rgba(228, 227, 216, 0.3);
    --fire-engine-red: #da1e28;
    --ironside-grey: #706f6b;
    --lemon-grass: #96968f;
    --nero: #222;
    --nero-01: rgba(34, 34, 34, 0.1);
    --nero-09: rgba(34, 34, 34, 0.9);
    --nero-016: rgba(34, 34, 34, 0.16);
    --sea-green: #24a148;
    --shakespeare: #569cb6;
    --silver-sand: #bdbcb4;
    --sunglow: #fdd13a;
    --thunder: #494946;

    --error: var(--fire-engine-red);
    --info: var(--shakespeare);
    --success: var(--sea-green);
    --warning: var(--sunglow);

    --primary: var(--shakespeare);
    --base-background-color: var(--white);
    --base-color: var(--nero);
}

@media only screen and (min-width: 48em) {
    :root {
        --grid-gutter: 60px;





        --header-height: 64px;
    }
}

@media only screen and (min-width: 64em) {
    :root {
        --header-background-color: transparent;






        --grid-gutter: 60px;






        --header-height: 69px;
    }
}
