<footer class="c-Footer" id="c-Footer">

    <div class="c-Footer-container wrapper">

        <div class="c-Footer-content">

            <div class="c-Footer-block">

                <div class="c-FooterLinks pure-g">

                    <div class="c-FooterLinks-block qm-sm-6-12 qm-xl-3-12">

                        <div class="c-FooterLinksGroup">

                            <div class="c-FooterLinksGroup-block">

                                <div class="c-FooterLinksGroup-heading">SEO</div>

                            </div>



                            <div class="c-FooterLinksGroup-block">

                                <ul class="c-FooterLinksGroup-list">

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenoptimierung/'
                                            text='SEO Optimierung'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenoptimierung/local-seo/'
                                            text='Local SEO'
                                        -%}

                                    </li>

                                    {% comment %}
                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenoptimierung/technisches-seo/'
                                            text='Technisches SEO'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenoptimierung/internationales-seo/'
                                            text='Internationales SEO'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenoptimierung/relaunch-betreuung/'
                                            text='Relaunch Betreuung'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenoptimierung/seo-audit/'
                                            text='SEO Audit'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenoptimierung/linkaufbau/'
                                            text='Linkaufbau'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenoptimierung/linkaudit/'
                                            text='Linkaudit'
                                        -%}

                                    </li>
                                    {% endcomment %}

                                </ul>

                            </div>

                        </div>



                        <div class="c-FooterLinksGroup">

                            <div class="c-FooterLinksGroup-block">

                                <div class="c-FooterLinksGroup-heading">Branchen</div>

                            </div>



                            <div class="c-FooterLinksGroup-block">

                                <ul class="c-FooterLinksGroup-list">

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/branchenloesung-anwaelte/'
                                            text='Anwälte und Kanzlei'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/branchenloesung-aerzte/'
                                            text='Ärzte und Arztpraxis'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/branchenloesung-steuerberater/'
                                            text='Steuerberater'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/branchenloesung-versicherungsmakler/'
                                            text='Versicherungsmakler'
                                        -%}

                                    </li>

                                </ul>

                            </div>

                        </div>

                    </div>



                    <div class="c-FooterLinks-block qm-sm-6-12 qm-xl-3-12">

                        <div class="c-FooterLinksGroup">

                            <div class="c-FooterLinksGroup-block">

                                <div class="c-FooterLinksGroup-heading">SEM</div>

                            </div>



                            <div class="c-FooterLinksGroup-block">

                                <ul class="c-FooterLinksGroup-list">

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenmarketing/'
                                            text='Suchmaschinen&shy;marketing'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenmarketing/adwords-optimierung/'
                                            text='AdWords Optimierung'
                                        -%}

                                    </li>

                                    {% comment %}
                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenmarketing/google-shopping/'
                                            text='Google Shopping'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/suchmaschinenmarketing/google-adwords-remarketing/'
                                            text='Google AdWords Remarketing'
                                        -%}

                                    </li>
                                    {% endcomment %}

                                </ul>

                            </div>

                        </div>



                        <div class="c-FooterLinksGroup">

                            <div class="c-FooterLinksGroup-block">

                                <div class="c-FooterLinksGroup-heading">Leadgenerierung</div>

                            </div>



                            <div class="c-FooterLinksGroup-block">

                                <ul class="c-FooterLinksGroup-list">

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/leadgenerierung/'
                                            text='Leadgenerierung'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/leadgenerierung/versicherungsleads/'
                                            text='Versicherungsleads'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/leadgenerierung/usability-optimierung/'
                                            text='Usability Optimierung'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/leadgenerierung/conversion-optimierung/'
                                            text='Conversion Optimierung'
                                        -%}

                                    </li>

                                    {% comment %}
                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/leadgenerierung/landingpage-optimierung/'
                                            text='Landingpage Optimierung'
                                        -%}

                                    </li>

                                    <li class="c-FooterLinksGroup-li">

                                        {%- include 5-components/footer/footer-links-group-link.html
                                            url='/leadgenerierung/datenschutz-dsgvo/'
                                            text='DSGVO'
                                        -%}

                                    </li>
                                    {% endcomment %}

                                </ul>

                            </div>

                        </div>

                    </div>



                    <div class="qm-xl-1-12 show-for-xlarge"></div>



                    <div class="c-FooterLinks-block qm-sm-12-12 qm-xl-5-12">

                        <div class="c-FooterLinksGroup">

                            <div class="c-FooterLinksGroup-block">

                                <div class="c-FooterLinksGroup-heading">Unternehmen</div>

                            </div>



                            <div class="c-FooterLinksGroup-block pure-g">

                                <div class="c-FooterLinksGroup qm-sm-12-12 qm-xl-6-12">

                                    <ul class="c-FooterLinksGroup-list">

                                        <li class="c-FooterLinksGroup-li">

                                            {%- include 5-components/footer/footer-links-group-link.html
                                                url='/suchmaschinenoptimierung/seo-agentur-muenchen/'
                                                text='SEO München'
                                            -%}

                                        </li>

                                        <li class="c-FooterLinksGroup-li">

                                            {%- include 5-components/footer/footer-links-group-link.html
                                                url='/suchmaschinenoptimierung/seo-agentur-hamburg/'
                                                text='SEO Hamburg'
                                            -%}

                                        </li>

                                        {% comment %}
                                        <li class="c-FooterLinksGroup-li">

                                            {%- include 5-components/footer/footer-links-group-link.html
                                                url='/suchmaschinenoptimierung/seo-agentur-berlin/'
                                                text='SEO Berlin'
                                            -%}

                                        </li>
                                        {% endcomment %}

                                    </ul>

                                </div>



                                <div class="c-FooterLinksGroup c-FooterLinksGroup--noIndent qm-sm-12-12 qm-xl-6-12">

                                    <ul class="c-FooterLinksGroup-list">

                                        <li class="c-FooterLinksGroup-li">

                                            {%- include 5-components/footer/footer-links-group-link.html
                                                url='/projekte/'
                                                text='Projekte'
                                            -%}

                                        </li>

                                        <li class="c-FooterLinksGroup-li">

                                            {%- include 5-components/footer/footer-links-group-link.html
                                                url='/journal/'
                                                text='Journal'
                                            -%}

                                        </li>

                                        <li class="c-FooterLinksGroup-li">

                                            {%- include 5-components/footer/footer-links-group-link.html
                                                url='/kontakt/'
                                                text='Kontakt'
                                            -%}

                                        </li>

                                    </ul>

                                </div>



                                <div class="c-FooterLinksGroup qm-sm-12-12">

                                    {%- include 5-components/social-links/social-links.html
                                        mail=false
                                        print=false
                                    -%}

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>



            <div class="c-Footer-block">

                <div class="c-FooterBottomBar">

                    <div class="c-FooterBottomBar-block">

                        <p class="c-FooterBottomBar-copyright">© 2019 qmedia GmbH – Agentur für Online Marketing</p>

                    </div>



                    <div class="c-FooterBottomBar-block">

                        <ul class="c-FooterBottomBar-list h-StopMarginSharing">

                            <li class="c-FooterBottomBar-li">

                                <a class="c-FooterBottomBar-link" href="/impressum/">Impressum</a>

                            </li>



                            <li class="c-FooterBottomBar-li">

                                <a class="c-FooterBottomBar-link" href="/datenschutz/">Datenschutz</a>

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>
