.c-HeadingSubject {
    --font-size: 11px;
    --letter-spacing: 3.3px;
    align-items: center;
    display: flex;
    font-family: var(--ff-mono);
    font-size: var(--font-size);
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
    margin-top: 0;
    position: relative;
    text-transform: uppercase;
}

@media only screen and (min-width: 48em) {
    .c-HeadingSubject {
        --font-size: 13px;
        --letter-spacing: 3.9px;
    }
}

.c-HeadingSubject::before {
    background-color: currentColor;
    content: "";
    height: 1px;
    margin-right: 15.5px;
    width: 30px;
}

.c-HeadingSubject--indent {
    margin-bottom: var(--main-block-block-indent);
}
