.o-Dropdown:not(.o-Dropdown--minLg) {
    opacity: 0;
    visibility: hidden;
}

@media only screen and (min-width: 64em) {
    .o-Dropdown {
        opacity: 0;
        visibility: hidden;
    }
}



.o-DropdownTrigger:focus + .o-Dropdown:not(.o-Dropdown--minLg),
.o-DropdownTrigger:hover + .o-Dropdown:not(.o-Dropdown--minLg),
.o-Dropdown:not(.o-Dropdown--minLg):focus,
.o-Dropdown:not(.o-Dropdown--minLg):hover {
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 64em) {
    .o-DropdownTrigger:focus + .o-Dropdown,
    .o-DropdownTrigger:hover + .o-Dropdown,
    .o-Dropdown:focus,
    .o-Dropdown:hover {
        opacity: 1;
        visibility: visible;
    }
}



.o-DropdownTrigger:focus + .o-Dropdown--size:not(.o-Dropdown--minLg),
.o-DropdownTrigger:hover + .o-Dropdown--size:not(.o-Dropdown--minLg),
.o-Dropdown--size:not(.o-Dropdown--minLg):focus,
.o-Dropdown--size:not(.o-Dropdown--minLg):hover {
    height: auto;
    width: auto;
}

@media only screen and (min-width: 64em) {
    .o-DropdownTrigger:focus + .o-Dropdown--size,
    .o-DropdownTrigger:hover + .o-Dropdown--size,
    .o-Dropdown--size:focus,
    .o-Dropdown--size:hover {
        height: auto;
        width: auto;
    }
}
