.c-Contact {
    --block-gutter: var(--main-band-gutter-lg);
}

.c-Contact--tight {
    --block-gutter: 35px;
}



.c-Contact-content {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--block-gutter) / -2);
}



.c-Contact-block {
    padding: calc(var(--block-gutter) / 2);
}



.c-Contact-text {
    font-size: 16px;
    line-height: 1.8;
}

.c-Contact-text > * + * {
    margin-top: calc(var(--type-indent) / 2);
}

@media only screen and (min-width: 48em) {
    .c-Contact-text {
        font-size: 18.5px;
    }
}

@media only screen and (min-width: 64em) {
    .c-Contact-text {
        font-size: 21px;
    }
}



.c-Contact-link {}






.c-ContactBlock-block + .c-ContactBlock-block {
    margin-top: 20px;
}

@media only screen and (min-width: 48em) {
    .c-ContactBlock-block--subject + .c-ContactBlock-block {
        margin-top: 28px;
    }
}






.c-ContactForm {
    --block-gutter: 20px;
    --controls-font-size: 16px;
    display: flex;
    margin: calc(var(--block-gutter) / -2);
}

@media only screen and (min-width: 48em) {
    .c-ContactForm {
        --block-gutter: 17px;
        --controls-font-size: 18.5px;
    }
}

@media only screen and (min-width: 64em) {
    .c-ContactForm {
        --controls-font-size: 21px;
    }
}



.c-ContactForm-form {
    display: flex;
    flex-wrap: wrap;
}



.c-ContactForm-block {
    display: flex;
    flex: 1 100%;
    margin: calc(var(--block-gutter) / 2);
}

.c-ContactForm-block--lg {
    margin-top: calc(30px - (var(--block-gutter) / 2));
}

.c-ContactForm-block--parent {
    margin: 0;
}

@media only screen and (max-width: 29.9375em) {
    .c-ContactForm-block--parent.c-ContactForm-block--row {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 48em) {
    .c-ContactForm-block--lg {
        margin-top: calc(40px - (var(--block-gutter) / 2));
    }

    .c-ContactForm-block--parent {
        margin: 0;
    }
}



.c-ContactForm-input {
    border-color: var(--lemon-grass);
    border-style: solid;
    border-width: 0 0 1px;
    display: flex;
    font-size: var(--controls-font-size);
    padding-bottom: 9px;
    padding-top: 9px;
    width: 100%;
}

@media only screen and (min-width: 48em) {
    .c-ContactForm-input {
        padding-bottom: 13px;
        padding-top: 13px;
    }
}

.c-ContactForm-input:focus {
    outline: none;
}

.c-ContactForm-input::-webkit-input-placeholder {
    color: var(--ironside-grey);
}

.c-ContactForm-input::placeholder {
    color: var(--ironside-grey);
}



.c-ContactForm-textarea {
    border-color: var(--lemon-grass);
    border-style: solid;
    border-width: 0 0 1px;
    display: flex;
    font-size: var(--controls-font-size);
    min-height: 130px;
    overflow: hidden;
    padding-bottom: 20px;
    resize: vertical;
    width: 100%;
}

.c-ContactForm-textarea:focus {
    outline: none;
}

.c-ContactForm-textarea::-webkit-input-placeholder {
    color: var(--ironside-grey);
}

.c-ContactForm-textarea::placeholder {
    color: var(--ironside-grey);
}

@media only screen and (min-width: 48em) {
    .c-ContactForm-textarea {
            min-height: 155px;
    }
}
