.c-Banner {
    position: relative;
}



.c-Banner-block--paper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 60;
}

@media only screen and (min-width: 48em) {
    .c-Banner-block--paper {
        max-width: 405px;
    }
}



.c-Banner-paper {
    height: 100%;
}



.c-Banner-image {
    height: 350px;
    position: relative;
}



.c-Banner-img,
.c-Banner-img img {
    object-fit: cover;
    object-position: center;
}

@media only screen and (min-width: 48em) {
    .c-Banner-img,
    .c-Banner-img img {
        object-position: 25%;
    }
}

@media only screen and (min-width: 64em) {
    .c-Banner-img,
    .c-Banner-img img {
        object-position: left;
    }
}



.c-Banner-heading {
    font-size: 22px;
    font-weight: 600;
}

@media only screen and (min-width: 48em) {
    .c-Banner-heading {
        font-size: 29px;
    }
}

@media only screen and (min-width: 64em) {
    .c-Banner-heading {
        font-size: 36px;
    }
}



.c-Banner-hr {
    background-color: var(--black-white);
    display: flex;
    height: 1px;
    width: 30px;
}



.c-Banner-text {
    font-size: 16px;
    line-height: 1.8;
}

@media only screen and (min-width: 48em) {
    .c-Banner-text {
        font-size: 18.5px;
    }
}

@media only screen and (min-width: 64em) {
    .c-Banner-text {
        font-size: 21px;
    }
}



.c-Banner-btn {
    border-color: var(--lemon-grass);
    color: inherit;
}

.c-Banner-btn .icon {
    fill: currentColor;
    height: 12.5px;
}






.c-BannerPaper {
    align-items: center;
    background-color: var(--nero-09);
    color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 20px 20px 25px;
}



.c-BannerPaper-block {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    text-align: center;
}

.c-BannerPaper-block + .c-BannerPaper-block {
    margin-top: 10px;
}

.c-BannerPaper-block + .c-BannerPaper-block--lg {
    margin-top: 18px;
}
