---
layout: "default"
---

<div class="c-MainBlock">

    <div class="c-Main-container wrapper">

        <div class="c-Main-head">

            {%- include 5-components/main/main-head.html
                heading=page.user_title
                time=page.date
            -%}

        </div>

    </div>

</div>



<div class="c-MainBlock c-MainBlock--sm">

    <div class="c-Main-container wrapper">

        {%- assign excerpt = page.article_excerpt | default: page.user_excerpt -%}

        {%- include 5-components/article/article.html
            article=content
            article_serif=true
            contents=false
            excerpt=excerpt
            hero=page.article_hero
            lg=true
            title=page.article_title
        -%}

    </div>

</div>



<div class="c-MainBlock">

    <div class="c-Main-container wrapper">

        <h4 class="c-HeadingSubject c-HeadingSubject--indent h-ContentsExclude">Teile diesen Artikel</h4>

        {%- include 5-components/social-links/social-links.html -%}

    </div>

</div>
