<!DOCTYPE html>
<html amp>

  {% include head.html %}

  <body class="bgimage">

  {% include sidebar-menu.html %}
  {% include header.html %}
    <div class="wrapper">
      <div class="pure-g">
        <div class="qm-sm-1-12">
        </div>
        <div class="qm-sm-10-12">
          <article class="">

              {{ content }}
          </article>

          {% include footer.html %}

        </div>
        <div class="qm-sm-1-12">
        </div>

      </div>
    </div>



  </body>
</html>
