---
layout: "layout"
robots: "index,follow"
---

<div class="PageWrapper" id="PageWrapper">

    {%- unless layout.layout_header == false or page.layout_header == false -%}

        {%- include 5-components/header/header.html
            amp_enable=page.amp_enable
            breadcrumbs=page.breadcrumbs
            slug=page.slug
        -%}

    {%- endunless -%}






    {%- if layout.layout_bg_logo == true
        or page.layout_bg_logo == true
    -%}

        <div class="c-Absolute c-Absolute--bgLogo">

            <span class="icon">

                {%- include svg/qmedia-icon.svg -%}

            </span>

        </div>

    {%- endif -%}






    <main class="c-Main" id="c-Main">

        {{- content -}}

    </main>






    {%- unless layout.layout_footer == false or page.layout_footer == false -%}

        {% include 5-components/footer/footer.html %}

    {%- endunless -%}






    {%- include 5-components/dialog/dialog.html -%}

</div>
