---
# layout: "compress"
---

<!DOCTYPE html>

<html {%- if page.amp_enable == true %} amp{%- endif %} lang="{{ site.lang }}">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {%- if page.robots
        and layout.robots != false
        and layout.robots != empty
    -%}

        <meta name="robots" content="{{- page.robots | default: layout.robots -}}"/>

    {%- endif -%}



    {%- if site.lang
        and site.lang != empty
    -%}

        <meta property="og:locale" content="{{- site.lang -}}" />

    {%- endif -%}

    <meta property="og:type" content="website" />

    {%- if page.meta_title
        and page.meta_title != empty
    -%}

        <meta property="og:title" content="{{- page.meta_title -}}" />

    {%- endif -%}

    {%- if site.og_image
        and site.og_image != empty
    -%}

        <meta property="og:image" content="{{- site.og_image -}}" />
        <meta property="og:image:width" content="{{- site.og_image_width -}}" />
        <meta property="og:image:height" content="{{- site.og_image_height -}}" />

    {%- endif -%}

    {%- if page.meta_description
        and page.meta_description != empty
    -%}

        <meta property="og:description" content="{{- page.meta_description -}}" />

    {%- endif -%}

    {%- if site.url
        and site.url != empty
    -%}

        <meta property="og:url" content="{{- site.url -}}" />

    {%- endif -%}

    {%- if site.sitename
        and site.sitename != empty
    -%}

        <meta property="og:site_name" content="{{- site.sitename -}}" />

    {%- endif -%}



    <meta name="twitter:card" content="summary" />

    {%- if page.meta_title
        and page.meta_title != empty
    -%}

        <meta name="twitter:title" content="{{- page.meta_title -}}" />

    {%- endif -%}

    {%- if page.meta_description
        and page.meta_description != empty
    -%}

        <meta name="twitter:description" content="{{- page.meta_description -}}" />

    {%- endif -%}



    {% if page.canonical and page.canonical != empty %}

        <link rel="canonical" href="{{ page.canonical | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% else %}

        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% endif %}



    {%- if page.amp_enable == true -%}

        {%- assign amp_components = site.data.amp-components -%}

        {%- assign amp_components = amp_components | push: layout.amp_components -%}

        {%- assign amp_components = amp_components | push: page.amp_components -%}

        {%- assign amp_components = amp_components | uniq -%}

        {% for component in amp_components -%}

            {{- component -}}

        {%- endfor -%}

    {%- endif -%}



    <title>

        {%- assign title = page.meta_title | default: page.user_title -%}

        {%- if title contains site.sitename -%}

            {{- title -}}

        {%- else -%}

            {{- title | append: ' » ' | append: site.sitename -}}

        {%- endif -%}

    </title>


    {%- if page.meta_description and page.meta_description != empty -%}

        <meta name="description" content="{{ page.meta_description | strip_html | strip_newlines | truncate: 160 }}">

    {%- else -%}

        <meta name="description" content="{{ page.content | strip | strip_html | markdownify | strip_html | strip_newlines | strip | truncate: 160 }}">

    {%- endif -%}



    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">



    <link rel="alternate" type="application/rss+xml" title="{{ site.meta_title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />



    <style {%- if page.amp_enable == true %} amp-custom{%- endif -%}>
        {%- include styles.html -%}
    </style>



    {%- if page.amp_enable == true -%}
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
        <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    {%- endif -%}

</head>








<body class="PageBody

    {%- if page.layout_modifier != false
        and layout.layout_modifier
        and layout.layout_modifier != page.layout_modifier
        and layout.layout_modifier != false
        and layout.layout_modifier != empty
    -%}

        {{- layout.layout_modifier | prepend: ' PageBody--' -}}

    {%- endif -%}

    {%- if page.page_modifier
        and page.page_modifier != false
        and page.page_modifier != empty
    -%}

        {{- page.page_modifier | prepend: ' PageBody--' -}}

    {%- endif -%}

">

    {{- content -}}






    {%- include scripts.html -%}

</body>

</html>
