<!DOCTYPE html>
<html amp>

  {% include head.html %}

  <body>

  {% include sidebar-menu.html %}
  {% include header.html %}
    <div class="wrapper">
      <div class="pure-g">
        <div class="qm-lg-1-12 show-for-large">
        </div>
        <div class="qm-sm-12-12 qm-lg-10-12">
          <article class="post">

            <h1>{{ page.title }}</h1>
            {{ page.date | date: "%-d %B %Y" | replace: "January", "Januar" | replace: "February", "Februar" | replace: "March","M&auml;rz" | replace: "May","Mai" | replace: "June","Juni" | replace: "July","Juli" | replace: "October","Oktober" | replace: "December","Dezember" }}

            <div class="single-post-hero">
              <amp-img src="{{ site.image-folder }}{{ page.images }}" alt="{{ page.title }}" width="830" height="373" layout="responsive"></amp-img>
            </div>

            {% if page.excerpt %}
            <strong>{{ page.excerpt }}</strong>
            {% endif %}

            {{ content }}

            {% include contact-box.html %}

          </article>

          {% include footer.html %}

        </div>
        <div class="qm-lg-1-12 show-for-large">
        </div>

      </div>
    </div>



  </body>
</html>
