@media only screen and (min-width: 48em) {
    .c-Service-content {
        display: flex;
        flex-wrap: wrap;
    }
}



@media only screen and (min-width: 48em) {
    .c-Service-block {
        flex: 1 1 0;
    }

    .c-Service-block + .c-Service-block {
        margin-left: 30px;
    }

    .c-Service-block--image {
        flex-basis: 121px;
        flex-grow: 0;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 64em) {
    .c-Service-block + .c-Service-block {
        margin-left: 49px;
    }
}






.c-ServicePaper {
    --block-indent: 26px;
    --block-indent-sm: 16px;
}



.c-ServicePaper-block + .c-ServicePaper-block {
    margin-top: var(--block-indent);
}

.c-ServicePaper-block + .c-ServicePaper-block--sm {
    margin-top: var(--block-indent-sm);
}



.c-ServicePaper-heading {
    font-size: 22px;
    font-weight: 600;
}

@media only screen and (min-width: 48em) {
    .c-ServicePaper-heading {
        font-size: 30px;
    }
}

@media only screen and (min-width: 64em) {
    .c-ServicePaper-heading {
        font-size: 36px;
    }
}



.c-ServicePaper-link {
    font-size: inherit;
}



.c-ServicePaper-text {
    font-size: 16px;
    line-height: 1.8;
}

@media only screen and (min-width: 48em) {
    .c-ServicePaper-text {
        font-size: 21px;
    }
}
